.card{
    width: 24%;
    padding: 1rem;
    box-shadow: 0 0 2px black;
    border-radius: 10px;
    color: #9FA2B4;
    text-align: center;
    background-color: white;

    h3{
        color: black;
    }
}